html{
   background-color: #222;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0px;
   margin: 0px;
}
body{
    text-align: center;
    background-color: whitesmoke;
    height: 100vh;
    overflow: hidden;
}
/*Table style*/
table{
    height: 100%;
    aspect-ratio: 5/8;
    table-layout: fixed;
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}
table>tbody>tr{
    width: 100%;
    aspect-ratio: 5;
}
table>tbody>tr>*{
    width: 20%;
    aspect-ratio: 1;
}
/*Sub Itens*/
table>tbody>tr>td>button{
    height: 100%;
    width: 100%;
    background-color: darkmagenta;
    color: white;
    font-size: 1.3em;
}
table>tbody>tr>td>input{
    height: 100%;
    width: 100%;
    font-size: 1.3em;
    text-align: center;
}
/*Hightlighted items*/

table>tbody>tr>td:first-child{
    background-color: navy;
    color: white;
    font-weight: bold;
}
table>tbody>tr>th{
    background-color: indigo;
    color: white;
}